*, body, html {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
 .header, #img-div, .footer {
    text-align: center;
 } 

 .header, #tribute-info {
    background-color: aqua;
    width: 60%;
    margin:0 auto;
    padding: 40px;
 }

 .footer {
    margin:0 auto;
    padding: 40px;
 }

  img {
  max-width:100%;
  width:80%;
  height: auto;
  display: block;
  margin: 0 auto;
  }